<div class="mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded shadow-sm">
      <li class="breadcrumb-item">
        <a [routerLink]="['/compare']" class="breadcrumb-link" matTooltip="Navigate to the Compare page">
          COMPARE
        </a>
      </li>
      <li class="breadcrumb-item active">
        <a [routerLink]="['/compare/compareByTenant']" [routerLinkActive]="['active']" class="breadcrumb-link"
          matTooltip="Compare tenants by their properties">
          COMPARE BY TENANTS
        </a>
      </li>
      <div class="hint-icon ms-auto" (click)="toggleInfoSidebar()" matTooltip="Info" matTooltipShowDelay="300"
        matTooltipPosition="above" matTooltipClass="custom-tooltip">
        <i class="fas fa-info-circle"></i>
      </div>
    </ol>
  </nav>
</div>

<div class="">
  <div class="compare-container">
    <!-- <div class="compare-cards">
      <div class="tenant-card">
        <label for="tenant1">Tenant 1</label>
        <ng-select id="tenant1" [items]="tenantNames" bindLabel="tenant" [(ngModel)]="selectedTenant1"
          (change)="loadEnvironmentsForTenant('tenant1')" [searchable]="true" placeholder="Select Tenant 1"
          class="custom-ng-select"></ng-select>
        <ng-select id="env1" [items]="tenant1Environments" [(ngModel)]="selectedEnv1" [disabled]="!selectedTenant1"
          placeholder="Select Environment" [searchable]="true" class="custom-ng-select"></ng-select>
      </div>

      <div class="tenant-card">
        <label for="tenant2">Tenant 2</label>
        <ng-select id="tenant2" [items]="tenantNames" bindLabel="tenant" [(ngModel)]="selectedTenant2"
          (change)="loadEnvironmentsForTenant('tenant2')" [searchable]="true" placeholder="Select Tenant 2"
          class="custom-ng-select"></ng-select>
        <ng-select id="env2" [items]="tenant2Environments" [(ngModel)]="selectedEnv2" [disabled]="!selectedTenant2"
          placeholder="Select Environment" [searchable]="true" class="custom-ng-select"></ng-select>
      </div>

      <div class="action-buttons">
        <button class="btn-primary" id="compareButton" (click)="compareEnvironments()"
          matTooltip="Compare the selected tenants" matTooltipPosition="above">
          <i class="fas fa-bolt"></i> Compare
        </button>
        <button class="btn-secondary" id="clearButton" (click)="clearSelections()" matTooltip="Clear All selections"
          matTooltipPosition="below">
          <i class="fas fa-eraser"></i> Clear
        </button>
      </div>
    </div> -->

    <div class="compare-cards">
      <!-- First Tenant Selection -->
      <div class="tenant-card">
        <mat-form-field appearance="outline" class="search-select">
          <mat-label>Select Tenant 1</mat-label>
          <mat-select [(ngModel)]="selectedTenant1" (selectionChange)="loadEnvironmentsForTenant('tenant1')" panelClass="custom-select-panel" required>
            <mat-option>
              <ngx-mat-select-search [formControl]="searchInput" placeholderLabel="Search..."
                  noEntriesFoundLabel="No options found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let tenant of tenantNames" [value]="tenant">
              {{ tenant | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-select">
          <mat-label>Select Environment</mat-label>
          <mat-select [(ngModel)]="selectedEnv1" [disabled]="!selectedTenant1" required>
            <mat-option>
              <ngx-mat-select-search [formControl]="searchInput" placeholderLabel="Search..."
                  noEntriesFoundLabel="No options found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let environment of tenant1Environments" [value]="environment">
              {{ environment | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <!-- Second Tenant Selection -->
      <div class="tenant-card">
        <mat-form-field appearance="outline" class="search-select">
          <mat-label>Select Tenant 2</mat-label>
          <mat-select [(ngModel)]="selectedTenant2" (selectionChange)="loadEnvironmentsForTenant('tenant2')" required>
            <mat-option>
              <ngx-mat-select-search [formControl]="searchInput" placeholderLabel="Search..."
                  noEntriesFoundLabel="No options found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let tenant of tenantNames" [value]="tenant">
              {{ tenant | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="search-select">
          <mat-label>Select Environment</mat-label>
          <mat-select [(ngModel)]="selectedEnv2" [disabled]="!selectedTenant2" required>
            <mat-option>
              <ngx-mat-select-search [formControl]="searchInput" placeholderLabel="Search..."
                  noEntriesFoundLabel="No options found"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let environment of tenant2Environments" [value]="environment">
              {{ environment | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <!-- Action Buttons -->
      <div class="action-buttons">
        <button class="btn-primary" id="compareButton" (click)="compareEnvironments()" matTooltip="Compare the selected tenants" matTooltipPosition="above">
          <i class="fas fa-bolt"></i> Compare
        </button>
        <button class="btn-secondary" id="clearButton" (click)="clearSelections()" matTooltip="Clear All selections" matTooltipPosition="below">
          <i class="fas fa-eraser"></i> Clear
        </button>
      </div>
    </div>
    



    <!-- <div *ngIf="filteredTenantBasedProperties.length > 0 || filteredRemainingProperties.length > 0 || searchQuery"
      class="container search-bar">
      <div class="search-input-container">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="form-control search-input" [(ngModel)]="searchQuery" (input)="filterResults()"
          placeholder=" Search by Property Key or Value ..." />
      </div>
    </div> -->


    <div *ngIf="!loading && (matchingProperties.length > 0 || NonMatchingProperties.length > 0)"
      class="mt-5 search-bar">
      <div class="form-control search-input-container">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="form-control search-input" [(ngModel)]="searchQuery"
          (input)="handleSearchQueryChange()" placeholder="Search ..." />
      </div>
    </div>

    <div class="tab-row">
      <div class="tab-bar" *ngIf="filteredMatchingProperties.length > 0 || filteredNonMatchingProperties.length > 0">
        <div class="tab active" [ngClass]="{'active': selectedFilter === 'Matching'}"
          (click)="selectFilter('Matching')">
          <i class="fa-solid fa-building"></i>
          <span>Matching Properties</span>
          <span class="badge">{{ matchingPropertySize }}</span>
        </div>

        <div class="tab" [ngClass]="{'active': selectedFilter === 'Non-Matching'}"
          (click)="selectFilter('Non-Matching')">
          <i class="fa-solid fa-layer-group"></i>
          <span>Non-Matching Properties</span>
          <span class="badge">{{ nonMatchingPropertySize }}</span>
        </div>
      </div>
    </div>

    <div *ngIf="filteredMatchingProperties.length > 0 && activeTab === 'tenant' && selectedFilter === 'Matching'"
      class="table-responsive">
      <div class="table-responsive table-container">


        <table class="table custom-table shadow-sm">
          <thead>
            <tr>
              <th *ngFor="let column of tenantPropertiesColumn_same; let i = index"
                [ngStyle]="{'width': column.width + 'px', 'max-width': column.width + 'px'}"
                class="text-center position-relative">
                <span *ngIf="column.name === 'Property Key 1'">
                  {{ selectedTenant1 + " - " + selectedEnv1 + " Key"}}
                </span>
                <span *ngIf="column.name === 'Property Key 2'">
                  {{ selectedTenant2 + " - " + selectedEnv2 + " Key"}}
                </span>
                <span *ngIf="column.name !== 'Property Key 1' && column.name !== 'Property Key 2'">
                  {{ column.name }}
                </span>

                <div class="resize-handle" (mousedown)="onMouseDown($event, i, 'tenant_same')"></div>
              </th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let entry of paginatedMatchingProperties">
              <td class="" [innerHTML]="highlightText(entry.propertyKey || '-',searchQuery)"
                (contextmenu)="onRightClickForCopy($event, entry, 'propertyKey')"></td>
              <td class="" [ngClass]="{'not-available':entry[tenantEnv1] === 'not available',
              'devops-input': entry[tenantEnv1] === 'DEVOPS_INPUT',
              'ops-input': entry[tenantEnv1] === 'OPS_INPUT'
           }" (contextmenu)="onRightClickForCopy($event, entry, tenantEnv1)">

                <span [ngClass]="{
                  'not-available-inside':entry[tenantEnv1] === 'not available',
                  'devops-input-inside': entry[tenantEnv1]== 'DEVOPS_INPUT',
      'ops-input-inside': entry[tenantEnv1] === 'OPS_INPUT'
              }"
                  [innerHTML]="highlightText(entry[tenantEnv1] === 'not available' ? 'MISSING_KEY' : entry[tenantEnv1] || '-', searchQuery)"></span>
              </td>

            </tr>
          </tbody>
        </table>
        <div *ngIf="showContextMenuCopy" class="context-menu" [style.left.px]="menuPosition.x"
          [style.top.px]="menuPosition.y">
          <ul>
            <li (click)="copyEntry2()" data-tooltip="Copy the property value">
              <i class="fas fa-copy"></i> Copy
            </li>
          </ul>
        </div>
      </div>
      <div class="pagination-container d-flex justify-content-between align-items-center mt-3 mb-3">
        <div class="total-records">
          Total Records: <strong>{{matchingPropertySize2}}</strong>
        </div>

        <div class="pagination-controls d-flex align-items-center">
          <span class="pagination-nav" [class.disabled]="currentPage === 1" (click)="goToPreviousPage()">
            <i class="fas fa-angle-double-left"></i>
          </span>
          <ng-container *ngFor="let page of pages">
            <span *ngIf="page !== -1" class="pagination-page" [class.active]="page === currentPage"
              (click)="goToPage(page)">
              {{ page }}
            </span>
            <span *ngIf="page === -1" class="pagination-dots">...</span>
          </ng-container>
          <span class="pagination-nav" [class.disabled]="currentPage === totalPages" (click)="goToNextPage()">
            <i class="fas fa-angle-double-right"></i>
          </span>
        </div>

        <!-- Items Per Page Dropdown -->
        <div class="items-per-page">
          <div for="pageSize" class="me-2 total-records">Items per page:</div>
          <select id="pageSize" class="form-select d-inline-block w-auto" [(ngModel)]="pageSize"
            (change)="updatePagination()">
            <option [value]="10">10</option>
            <option [value]="20">20</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
          </select>
        </div>
      </div>
    </div>


    <div *ngIf="filteredNonMatchingProperties.length > 0 && activeTab == 'tenant' && selectedFilter == 'Non-Matching' "
      class="table-responsive">
      <div class="table-container table-responsive">


        <table class="table custom-table shadow-sm">
          <thead>
            <tr>
              <th *ngFor="let column of differentColumns; let i = index"
                [ngStyle]="{'width': column.width + 'px', 'max-width': column.width + 'px'}"
                class="text-center position-relative">
                <span *ngIf="column.name === 'Property Value 1'">
                  {{ selectedTenant1 + " - " + selectedEnv1 }}
                </span>
                <span *ngIf="column.name === 'Property Value 2'">
                  {{ selectedTenant2 + " - " + selectedEnv2 }}
                </span>
                <span *ngIf="column.name !== 'Property Value 1' && column.name !== 'Property Value 2'">
                  {{ column.name }}
                </span>

                <div class="resize-handle" (mousedown)="onMouseDown($event, i, 'different')"></div>
              </th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let entry of paginatedNonMatchingProperties">
              <td (contextmenu)="onRightClickForCopy($event, entry, 'propertyKey')"
                [innerHTML]="highlightText(entry.propertyKey || '-', searchQuery)"></td>

              <td class="" (contextmenu)="entry[tenantEnv1] === 'not available' ? onRightClickAdd($event,entry,tenantEnv1,envTenant1) : onRightClick($event, entry, tenantEnv1, envTenant1)" [ngClass]="{'not-available':entry[tenantEnv1] === 'not available',
              'devops-input': entry[tenantEnv1] === 'DEVOPS_INPUT',
              'ops-input': entry[tenantEnv1] === 'OPS_INPUT',
           }">

                <span [ngClass]="{
  'not-available-inside':entry[tenantEnv1] === 'not available',
  'devops-input-inside': entry[tenantEnv1]== 'DEVOPS_INPUT',
'ops-input-inside': entry[tenantEnv1] === 'OPS_INPUT',
}" [innerHTML]="highlightText(entry[tenantEnv1] === 'not available' ? 'MISSING_KEY' : entry[tenantEnv1] || '-', searchQuery)"></span>
              </td>

              <td class="text-center">
                <i class="fas fa-arrow-circle-right action-icon me-2" title="Copy Value 1 to Tenant 2" (click)="openConfirmationDialog(
                      entry['propertyKey'],
                      envTenant2,
                      entry[tenantEnv1],
                      entry[tenantEnv2]
                    )" style="color: red;"></i>
                <i class="fas fa-arrow-circle-left action-icon me-2" title="Copy Value 2 to Tenant 1" (click)="openConfirmationDialog(
                      entry['propertyKey'],
                      envTenant1,
                      entry[tenantEnv2],
                      entry[tenantEnv1]
                    )" style="color: red;"></i>
              </td>
              <td class="" (contextmenu)="entry[tenantEnv2] === 'not available' ? onRightClickAdd($event,entry,tenantEnv2,envTenant2) : onRightClick($event, entry, tenantEnv2,envTenant2)" [ngClass]="{'not-available':entry[tenantEnv2] === 'not available',
              'devops-input': entry[tenantEnv2] === 'DEVOPS_INPUT',
              'ops-input': entry[tenantEnv2] === 'OPS_INPUT',
           }">
                <span [ngClass]="{
                  'not-available-inside':entry[tenantEnv2] === 'not available',
                  'devops-input-inside': entry[tenantEnv2]== 'DEVOPS_INPUT',
      'ops-input-inside': entry[tenantEnv2] === 'OPS_INPUT',
              }"
                  [innerHTML]="highlightText(entry[tenantEnv2] === 'not available' ? 'MISSING_KEY' : entry[tenantEnv2] || '-', searchQuery)"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="showContextMenu" class="context-menu" [style.left.px]="menuPosition.x"
          [style.top.px]="menuPosition.y">
          <ul>
            <li (click)="editEntry()" data-tooltip="Edit this property">
              <i class="fas fa-edit"></i> Edit
            </li>
            <li (click)="copyEntry()" data-tooltip="Copy the property value">
              <i class="fas fa-copy"></i> Copy
            </li>
          </ul>
        </div>
        <div *ngIf="showContextMenuCopy" class="context-menu" [style.left.px]="menuPosition.x"
          [style.top.px]="menuPosition.y">
          <ul>
            <li (click)="copyEntry2()" data-tooltip="Copy the property value">
              <i class="fas fa-copy"></i> Copy
            </li>
          </ul>
        </div>
        <div *ngIf="showContextMenuAdd" class="context-menu" [style.left.px]="menuPosition.x"
            [style.top.px]="menuPosition.y">
            <ul>
                <li (click)="addProperty2()" data-tooltip="Edit this property">
                    <i class="fas fa-edit"></i> Add
                </li>
            </ul>
        </div>
      </div>
      <div class="pagination-container d-flex justify-content-between align-items-center mt-3 mb-3">
        <div class="total-records">
          Total Records: <strong>{{nonMatchingPropertySize2}}</strong>
        </div>

        <div class="pagination-controls d-flex align-items-center">
          <span class="pagination-nav" [class.disabled]="currentPage === 1" (click)="goToPreviousPage()">
            <i class="fas fa-angle-double-left"></i>
          </span>
          <ng-container *ngFor="let page of pages">
            <span *ngIf="page !== -1" class="pagination-page" [class.active]="page === currentPage"
              (click)="goToPage(page)">
              {{ page }}
            </span>
            <span *ngIf="page === -1" class="pagination-dots">...</span>
          </ng-container>
          <span class="pagination-nav" [class.disabled]="currentPage === totalPages" (click)="goToNextPage()">
            <i class="fas fa-angle-double-right"></i>
          </span>
        </div>

        <!-- Items Per Page Dropdown -->
        <div class="items-per-page">
          <div for="pageSize" class="me-2 total-records">Items per page:</div>
          <select id="pageSize" class="form-select d-inline-block w-auto" [(ngModel)]="pageSize"
            (change)="updatePagination()">
            <option [value]="10">10</option>
            <option [value]="20">20</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
          </select>
        </div>
      </div>
    </div>

    <!-- <div class="mt-5 mb-4" *ngIf="filteredTenantBasedProperties.length > 0 || filteredRemainingProperties.length > 0">
      <div class="alert alert-success shadow-sm" role="alert">
        <h5 class="mb-2"><i class="fas fa-info-circle"></i> Note</h5>
        <ul class="mb-0">
          <li><strong>NA:</strong> Indicates that the property is either unavailable or missing in the current
            environment for the selected tenant.</li>
          <li><strong>TENANT_ID Placeholder:</strong> Refers to the tenant ID chosen when comparing two tenants.</li>
        </ul>
      </div>
    </div> -->

  </div>
</div>

<div
  *ngIf="!loading && searchQuery && filterMatchingProperties.length === 0 && filteredNonMatchingProperties.length === 0"
  class="no-results">
  <div class="no-results-content text-center">
    <i class="fas fa-search fa-3x"></i>
    <h4 class="mt-3">No Results Found</h4>
    <p class="text-muted">
      We couldn’t find anything matching "<span class="highlight">{{ searchQuery }}</span>".
    </p>
    <button class="btn btn-primary btn-try-again" (click)="clearSearch()">Try Again</button>
  </div>
</div>


<div class="backdrop" *ngIf="showSidebar" (click)="toggleInfoSidebar()">
</div>


<div class="sidebar-container" [class.open]="showSidebar">
  <div class="sidebar-header">
    <h4 class="sidebar-title">Page Tips & Info</h4>
    <i class="fas fa-times close-icon" (click)="toggleInfoSidebar()"></i>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-tip">
      <i class="fas fa-search tip-icon"></i>
      <p><strong>Tip:</strong> Use the Compare by Tenant tool to categorize properties as matching or non-matching by tenant. <a href="/faq/comparison-guide" class="learn-more-link" target="_blank" rel="noopener noreferrer">Learn More</a></p>
    </div>

    <div class="sidebar-tip">
      <i class="fas fa-check-circle tip-icon"></i>
      <p><strong>Matching vs. Non-Matching Properties:</strong> Matching properties have identical values; non-matching ones require action. <a href="/comparison-options" class="learn-more-link">Learn More</a></p>
    </div>

    <div class="sidebar-tip">
      <i class="fas fa-tools tip-icon"></i>
      <p><strong>Non-Matching Property Actions:</strong> Edit, transfer, or copy non-matching properties to align with others. <a href="/property-actions" class="learn-more-link">Learn More</a></p>
    </div>

    <div class="sidebar-tip">
      <i class="fas fa-id-badge tip-icon"></i>
      <p><strong>Tenant Placeholder:</strong> Tenant details are displayed via a placeholder, hiding all tenant data at once. <a href="/tenant-placeholder-info" class="learn-more-link">Learn More</a></p>
    </div>
  </div>
</div>
