<div class="dialog-container">
  <div class="dialog-header">
    <h2>Create New Tenant</h2>
  </div>
  <div class="dialog-content">
    <form [formGroup]="tenantForm">

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Tenant ID</mat-label>
          <input matInput formControlName="tenant" placeholder="Eg. 1STSB" />
          <mat-error *ngIf="tenantForm.get('tenant')?.invalid">
            Tenant ID is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Tenant Name</mat-label>
          <input matInput formControlName="tenant_name" placeholder="Eg. First Source Bank" />
          <mat-error *ngIf="tenantForm.get('tenant_name')?.invalid">
            Tenant Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Environment</mat-label>
          <input matInput formControlName="environment" placeholder="Eg. QA" />
          <mat-error *ngIf="tenantForm.get('environment')?.invalid">
            Environment is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width stylish-input">
          <mat-label>Release</mat-label>
          <input matInput formControlName="release" placeholder="Eg 5.2.0" />
          <mat-error *ngIf="tenantForm.get('release')?.invalid">
            Release is required
          </mat-error>
        </mat-form-field>
      </div>

    </form>
  </div>
  <div class="dialog-actions">
    <button class="btn cancel" (click)="onCancel()">Cancel</button>
    <button class="btn add" [disabled]="tenantForm.invalid" (click)="onSave()">Add</button>
  </div>
</div>
