<div class="dialog-container">
    <div class="dialog-header">
      <h2>Add New Credential</h2>
    </div>
    <div class="dialog-content pb-3">
      <form [formGroup]="propertyForm" (ngSubmit)="onSave()" class="form-grid">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Environment</mat-label>
          <input matInput formControlName="environment" placeholder="Eg. DEV" [disabled]="true" />
          <mat-error *ngIf="propertyForm.get('environment')?.hasError('required')">
            Environment is required.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" [disabled]="true" />
          <mat-error *ngIf="propertyForm.get('username')?.hasError('required')">
            Username is required.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="passwordVisible ? 'text' : 'password'"
          />
          <mat-error *ngIf="propertyForm.get('password')?.hasError('required')">
            Password is required.
          </mat-error>
          
          <button 
          mat-icon-button
          type="button"
          (click)="togglePasswordVisibility()"
          class="password-toggle">
          <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>URL</mat-label>
          <input matInput formControlName="url" />
          <mat-error *ngIf="propertyForm.get('url')?.hasError('required')">
            URL is required.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="dialog-actions mt-4">
      <button class="btn btn-primary save" (click)="onSave()" [disabled]="propertyForm.invalid">Save</button>
      <button class="btn btn-secondary cancel" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  