<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded shadow-sm">
      <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/credentials']" class="breadcrumb-link">
          CREDENTIAL
        </a>
      </li>
      <div class="hint-icon ms-auto" (click)="toggleInfoSidebar()" matTooltip="Info" matTooltipShowDelay="300"
        matTooltipPosition="above" matTooltipClass="custom-tooltip">
        <i class="fas fa-info-circle"></i>
      </div>
    </ol>
  </nav>
</div>
<div *ngIf="loading" class="text-center my-5 spinner">
  <app-spinner></app-spinner>
</div>


<div class="container environment-container d-flex justify-content-end align-items-center">
  <button class="sync-all-button" (click)="openAddDialog()" [matTooltip]="'Click to add a new Credential'"
    matTooltipShowDelay="300" matTooltipPosition="above" [disabled]="isLoading">
    <i *ngIf="!isLoading" class="fas fa-shield-alt me-2"></i>
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"></span>
    Add New Credential
  </button>
</div>

<div class="container environment-container">
  <div class="environment-card " *ngFor="let data of allCredentials">
    <div class="card-header">
      <h3>{{ data.env | uppercase }}</h3>
      <div>
        <i class="fas fa-edit sync-icon me-2" (click)="openEditDialog(data)" [matTooltip]="'Click to Edit '"
          matTooltipShowDelay="300" matTooltipPosition="above"></i>
        <i class="fas fa-trash-alt sync-icon" (click)="openDeleteDialog(data.id)" [matTooltip]="'Click to Delete'"
          matTooltipShowDelay="300" matTooltipPosition="above"></i>
      </div>
    </div>
    <div class="card-body">
      <div class="sync-info">
        <div class="last-synced-time">
          <p><strong>Username:</strong> {{ data.username }}</p>
          <p><strong>Password:</strong> {{ maskPassword(data.password) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card-body">
    <div class="sync-info">
        <p><strong>Username:</strong> {{ data.username }}</p>
        <p><strong>Password:</strong> {{ data.password }}</p>
        <p><strong>URL:</strong> {{ data.url }}</p>
        
    </div>
</div> -->



<div class="backdrop" *ngIf="showSidebar" (click)="toggleInfoSidebar()">
</div>



<div class="sidebar-container" [class.open]="showSidebar">
  <div class="sidebar-header">
    <h4 class="sidebar-title">Page Tips & Info</h4>
    <i class="fas fa-times close-icon" (click)="toggleInfoSidebar()"></i>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-tip">
      <i class="fas fa-key tip-icon"></i>
      <p><strong>Credential Tip:</strong> Always ensure your credentials are securely stored and regularly updated.</p>
    </div>
    
    <div class="sidebar-tip">
      <i class="fas fa-sync-alt tip-icon"></i>
      <p><strong>Sync Tip:</strong> Before editing or adding new credentials, make sure you sync all your environments to avoid any inconsistencies.</p>
    </div>
    
    <div class="sidebar-tip">
      <i class="fas fa-user-lock tip-icon"></i>
      <p><strong>Security Tip:</strong> Ensure your passwords are strong and never share them publicly. Use a password manager to store sensitive information.</p>
    </div>
    
    <div class="sidebar-tip">
      <i class="fas fa-cloud-upload-alt tip-icon"></i>
      <p><strong>Upload Tip:</strong> When uploading credentials, always verify the environment and username to prevent accidental changes to incorrect credentials.</p>
    </div>
    
  </div>
</div>