.custom-breadcrumb {
    background: var(--gray-color);
    border-left: 5px solid var(--primary-color);
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  .breadcrumb-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  .breadcrumb-link:hover {
    color: #212529;
  }
  .breadcrumb-item.active .breadcrumb-link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
  .breadcrumb i {
    margin-right: 6px;
    font-size: 1.25rem;
  }
  .breadcrumb.custom-breadcrumb {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }

  
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .sync-icon{
    color: var(--primary-color);
    cursor: pointer;
  }
  .sync-all-button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  
  .sync-all-button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
  }
  
  .sync-all-button:active {
    transform: translateY(0);
  }

  .environment-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
  }

  

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sync-icon{
  color: var(--primary-color);
  cursor: pointer;
}
.sync-all-button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.sync-all-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.sync-all-button:active {
  transform: translateY(0);
}
.export-button {
  background-color: #007bff; /* Blue color for Export button */
  color: white;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.export-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight button lift effect */
}

.export-button:active {
  transform: translateY(0);
}


.environment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.environment-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #e5e5e5;
}

.environment-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-header h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.sync-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
}

.sync-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.sync-button:active {
  transform: translateY(0);
}

.card-body {
  margin-top: 20px;
}

.sync-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sync-info p {
  font-size: 14px;
  margin: 0;
  color: #6c757d;
  font-weight: 600;
}

.last-synced-time {
  font-size: 16px;
  color: #495057;
  font-weight: 500;
  margin-top: 5px;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 8px;
  display: inline-block;
  margin: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* .last-synced-time:before {
  content: '⏱️';
  margin-right: 8px;
  font-size: 18px;
} */

.last-synced-time:hover {
  background-color: #e5e9ed;
  /* color: white; */
  cursor: pointer;
}

@media (max-width: 768px) {
  .environment-card {
      width: 100%;
      padding: 15px;
  }

  .sync-button {
      padding: 8px 15px;
  }

  .last-synced-time {
      font-size: 14px;
  }

  .card-header h3 {
      font-size: 18px;
  }
}
.container {
  position: relative;
  z-index: 1; 
}
