<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded">
      <li class="breadcrumb-item active">
        <a [routerLink]="['/sync']" class="breadcrumb-link active" [routerLinkActive]="['active']">
         SYNC
        </a>
      </li>
      <div class="hint-icon ms-auto" (click)="toggleInfoSidebar()" matTooltip="Info" matTooltipShowDelay="300"
        matTooltipPosition="above" matTooltipClass="custom-tooltip">
        <i class="fas fa-info-circle"></i>
      </div>
    </ol>

  </nav>
</div>

<div *ngIf="loading" class="text-center my-5 spinner">
  <app-spinner></app-spinner>
</div>

<div class="container environment-container d-flex justify-content-end align-items-center">
  <button class="sync-all-button" (click)="callSyncApi()"
    [matTooltip]="'Fetch All config server data & dump it in Configuration DB'" matTooltipShowDelay="300"
    matTooltipPosition="above" [disabled]="isLoading">
    <i *ngIf="!isLoading" class="fas fa-sync me-2"></i>
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"></span>
    Sync All Environments
  </button>
</div>

<div class="container environment-container">
  <div class="environment-card" *ngFor="let data of syncData">
    <div class="card-header">
      <h3>{{ data.environmentName | uppercase }}</h3>
      <div>
        <i class="fas fa-download sync-icon me-2" (click)="exportSingleUpdateQuery(data.environmentName)"
          [matTooltip]="'Click to Export '" matTooltipShowDelay="300" matTooltipPosition="above"></i>
        <i class="fas fa-sync sync-icon" (click)="syncEnvironment(data.environmentName)"
          [matTooltip]="'Click to Sync Environment'" matTooltipShowDelay="300" matTooltipPosition="above"></i>
      </div>
    </div>
    <div class="card-body">
      <div class="sync-info">
        <p><strong>Last Synced:</strong></p>
        <div class="last-synced-time">
          {{ data.lastSyncedTime | date: 'dd/MM/yyyy hh:mm a' }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" *ngIf="showSidebar" (click)="toggleInfoSidebar()">
</div>


<div class="sidebar-container" [class.open]="showSidebar">
  <div class="sidebar-header">
    <h4 class="sidebar-title">Page Tips & Info</h4>
    <i class="fas fa-times close-icon" (click)="toggleInfoSidebar()"></i>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-tip">
      <i class="fas fa-lightbulb tip-icon"></i>
      <p><strong>Tip:</strong> Keep your data synced to avoid outdated information. <a href="/faq/sync-guide"
          class="learn-more-link" target="_blank" rel="noopener noreferrer">How Sync Works ?</a></p>
    </div>

    <div class="sidebar-tip">
      <i class="fas fa-sync-alt tip-icon"></i>
      <p><strong>Sync Options:</strong> Sync all environments at once or individually.</p>
    </div>

    <div class="sidebar-tip">
      <i class="fas fa-clock tip-icon"></i>
      <p><strong>Last Synced:</strong> Check the timestamp for the most recent updates.</p>
    </div>

    <div class="sidebar-tip">
      <i class="fas fa-file-export tip-icon"></i>
      <p><strong>Export Operations:</strong> Export INSERT, DELETE, or UPDATE queries for environments with recent
        changes.</p>
    </div>

    <!-- New Sidebar Tip for Syncing with VPN -->
    <div class="sidebar-tip">
      <i class="fas fa-lock tip-icon"></i>
      <p><strong>Sync Tip:</strong> While syncing, make sure your VPN is on. Syncing will only work correctly when connected through the VPN.</p>
    </div>
  </div>
</div>


<div *ngIf="syncData.length === 0" class="empty-state-container">
  <div class="empty-state-content">
    <i class="fas fa-exclamation-circle empty-icon"></i>
    <h3 class="empty-title">No Data Synced</h3>
    <p class="empty-description">
      Your configurations are currently unsynced. Click the Sync All Environments to synchronize the latest data.
    </p>
  </div>
</div>
