<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded">
      <li class="breadcrumb-item active">
        <a [routerLink]="['/sync']" class="breadcrumb-link active" [routerLinkActive]="['active']">
          <i class="fas fa-link mr-2"></i> Sync
        </a>
      </li>
    </ol>
  </nav>
</div>

<!-- Sync All Environments Button -->
<div class="container environment-container d-flex justify-content-end align-items-center">
  <button class="sync-all-button" (click)="callSyncApi()"  [matTooltip]="'Fetch All config server data & dump it in local DB'" matTooltipShowDelay="300" matTooltipPosition="above">
    Sync All Environments
  </button>
  <button class="export-button" (click)="exportUpdateQuery()"  [matTooltip]="'Export All the Updated Configurations'" matTooltipShowDelay="300" matTooltipPosition="above">
    Export Update Query
  </button>
</div>
<!-- <div class="container environment-container d-flex justify-content-end align-items-center mt-3">
  
</div> -->

<!-- Environment Cards Container -->
<div class="container environment-container">
  <div class="environment-card" *ngFor="let data of syncData">
    <div class="card-header">
      <h3>{{ data.environmentName | uppercase }}</h3>
      <button class="sync-button" (click)="syncEnvironment(data.environmentName)">
        Sync
      </button>
    </div>
    <div class="card-body">
      <div class="sync-info">
        <p><strong>Last Synced:</strong></p>
        <div class="last-synced-time">
          {{ data.lastSyncedTime | date: 'dd/MM/yyyy hh:mm a' }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Overlay Hint -->
<div class="hint-overlay" *ngIf="showOverlayHint">
  <div class="hint-container">
    <div class="hint-content">
      <div class="hint-icon">🔄</div>
      <div class="hint-text">
        <strong>Sync Tip:</strong> Sync before comparing to get accurate and up-to-date results!
      </div>
    </div>
    <button class="hint-button" (click)="hideOverlay()">Got It</button>
  </div>
</div>
