<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded shadow-sm">
      <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/compare']" class="breadcrumb-link">
           COMPARE
        </a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card minimal-card">
        <div class="card-body text-center">
          <div class="icon-container mb-3">
            <i class="fas fa-users fa-2x"></i>
          </div>
          <h5 class="card-title">Compare by Tenants</h5>
          <p class="card-text">Select two tenants to compare configurations and properties.</p>
          <a [routerLink]="'/compare/compareByTenant'" class="btn btn-primary">Tenant Comparison</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card minimal-card">
        <div class="card-body text-center">
          <div class="icon-container mb-3">
            <i class="fas fa-cogs fa-2x"></i>
          </div>
          <h5 class="card-title">Compare by Environments</h5>
          <p class="card-text">Choose two environments to compare their configurations and properties.</p>
          <a [routerLink]="'/compare/compareByEnvironment'" class="btn btn-primary">Environment Comparison</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card minimal-card">
        <div class="card-body text-center">
          <div class="icon-container mb-3">
            <i class="fas fa-search fa-2x"></i>
          </div>
          <h5 class="card-title">Find Missing Keys</h5>
          <p class="card-text">Identify missing keys in tenant environments to improve configuration consistency.</p>
          <a [routerLink]="'/compare/findDelta'" class="btn btn-primary">Find Delta</a>
        </div>
      </div>
    </div>
  </div>
</div>
