<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb p-3 rounded shadow-sm">
      <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/compare']" class="breadcrumb-link">COMPARE</a>
      </li>
    </ol>
  </nav>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card modern-card">
        <div class="card-body">
          <div class="icon-container">
            <i class="fas fa-users"></i>
          </div>
          <h4 class="card-title">Compare by Tenants</h4>
          <p class="card-text">Select two tenants to compare configurations and properties.</p>
          <a [routerLink]="['/compare/compareByTenant']" class="btn btn-gradient">Tenant Comparison</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card modern-card">
        <div class="card-body">
          <div class="icon-container">
            <i class="fas fa-cogs"></i>
          </div>
          <h4 class="card-title">Compare by Environments</h4>
          <p class="card-text">Choose two environments to compare their configurations.</p>
          <a [routerLink]="['/compare/compareByEnvironment']" class="btn btn-gradient">Environment Comparison</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card modern-card">
        <div class="card-body">
          <div class="icon-container">
            <i class="fas fa-search"></i>
          </div>
          <h4 class="card-title">Find Missing Keys</h4>
          <p class="card-text">Identify missing tenant environment properties.</p>
          <a [routerLink]="['/compare/findDelta']" class="btn btn-gradient">Scan for Missing Entries</a>
        </div>
      </div>
    </div>
  </div>
</div>
